//Colors
$white: hsl(0, 100, 100);
$grey-900: hsl(217, 19, 35);
$grey-500: hsl(214, 17, 51);
$grey-400: hsl(212, 23, 69);
$grey-200: hsl(210, 46, 95);

//Typography


//Spacing
$spacing-0: 0;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-700: 56px;
$spacing-800: 64px;
$spacing-1300: 104px;
$spacing-2000: 160px;
