@use 'mixins' as *;
@use 'variables' as *;

@font-face {
    font-family: 'Manrope';
    src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
}

.text-preset-1 {
    @include text-style(20px, 700, 130%, 0.25px);
    color: $grey-900;
}

.text-preset-2__medium {
    @include text-style;
    color: $grey-500;
}

.text-preset-2__bold {
    @include text-style($weight: 700);
    color: $grey-900;
}

.text-preset-3 {
    @include text-style($letter-spacing: 25%);
    text-transform: uppercase;
}

.attribution { 
    @include text-style;
    text-align: center; 
}
.attribution a { 
    @include text-style;
    color: $grey-500; 
}