@use 'mixins' as *;
@use 'variables' as *;

@font-face {
    font-family: 'Manrope';
    src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
}

// Text Presets
.text-preset-1 {
    @include text-style(20px, 700, 130%, 0.25px);
    color: $grey-900;
}

.text-preset-2__medium {
    @include text-style;
    color: $grey-500;
}

.text-preset-2__bold {
    @include text-style($weight: 700);
    color: $grey-900;
}

.text-preset-3 {
    @include text-style($letter-spacing: 25%);
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-200;
}

.article-preview {
    min-height: 280px;
    width: 80%;
    max-width: 730px;
    background-color: $white;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 40px 40px hsla(210, 29%, 84%, 50%);
}

.featured-image {
    width: 285px;
    background-image: url("../images/drawers.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

.article-preview__content {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items: stretch;
    justify-content: space-between;
}

.article-preview__text {
    padding: 30px $spacing-500;
    display: flex;
    flex-direction: column;
    gap: $spacing-300;
}

.article-preview__footer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0px $spacing-500 30px $spacing-500;
}

.author {
    display: flex;
    gap: $spacing-200;

    picture {
        img {
            width: $spacing-500;
            height: $spacing-500;
            border-radius: $spacing-500;
        }   
    }
}

.article-details {
    display: flex;
    flex-direction: column;
}

.share-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: $spacing-400;
    position: relative;
    justify-self: last baseline;
}

.share-button__button {
    width: $spacing-400;
    height: $spacing-400;
    border-radius: $spacing-400;
    border: none;
    background: $grey-200;

    &:hover {
        background: $grey-500; 

        img {
            filter: brightness(3);
        }
    }
   
}

.share-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -90px;
    left: -15px;
    height: 0;
    width: 0;
    overflow: visible;
}

.share-popup__content {
    @include text-style($letter-spacing: 25%);
    text-transform: uppercase;
    color: $grey-400;
    background-color: $grey-900;
    padding: 18px 38px;
    display: flex;
    align-items: center;
    gap: $spacing-300;
    border-radius: 10px;
    box-shadow: 0px 10px 10px hsla(210, 29%, 84%, 50%);


    img {
        height: 20px;
        width: 20px;
    }
}

.share-popup__pip {
    position:relative;
    bottom: 0;
    left: 50%;
    border: 20px solid transparent;
    border-top-color: $grey-900;
    border-bottom: 0;
}

// .hidden {
//      overflow: hidden;
//  } 

.attribution { 
    @include text-style;
    text-align: center; 
    margin-top: $spacing-300;
}
.attribution a { 
    @include text-style;
    color: $grey-500; 
}

@media screen and (max-width: 600px) {
    .article-preview {
       flex-direction: column; 
       width: 90%;
    }
    .article-preview__content, .article-preview__text {
        max-width: 100%;
    }
    .featured-image {
        height: 200px;
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
    .article-preview__footer {
        display: grid;
        // grid-template-areas: "image name button";
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
    // .author {
    //     grid-area: image;
    // }
    // .share-button {
    //     grid-area: button;
    // }
    .share-button {
        position: initial;
        display: grid;
        grid-template-rows: 1fr;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .share-popup {
        height: auto;
        width: auto;
        position: initial;
    }
    .share-popup__pip {
        display: none;
    }
}